*
{
	margin:0;
	padding:0;
	
}
body 
{ 
background-color:#f1f3f8;
font-family	:sans-serif;
}
.top-nav-bar
{
	height :57px;
	top:0;
	position :sticky;
	background:#fff;
	margin-bottom :20px;
	border-bottom: 3px solid dodgerblue;
	z-index:2;
}
.logo
{
  height:40px;
  margin:5px 10px ;
  
  
}
.form-control
{
	 margin-top:9px;
	 margin-left :30px;
	 border: 1px solid dodgerblue !important;
	 border-top-left-radius: 20px !important;
	 border-bottom-left-radius: 20px !important;
	  border-top-right-radius: 0px !important;
	   border-bottom-right-radius: 0px !important;
	   box-shadow: none !important;
	   
}
.input-group-text
{
	background :dodgerblue;
	border: 1px solid dodgerblue;
	margin: 8.5px 10px 3px 0;
	border-top-left-radius: 0px !important;
	 border-bottom-left-radius: 0px !important;
	  border-top-right-radius: 20px !important;
	   border-bottom-right-radius: 20px !important;
	   cursor:pointer;
	
}
.search-box
{
	display: inline-flex;
	width:60%;

}

.fa-search-box
{
	color:#fff;
}


.menu-bar
{
	width:40%;
	height:57px;
	float:right;
}
.menu-bar ul
{
	display: inline-flex;
	float: right;
}
.menu-bar ul li
{
	border-left: 1px solid #fff;
	list-style-type:none;
	padding:15px 35px;
	text-align:center;
	background-color :dodgerblue;
	cursor:pointer;
}
.menu-bar ul li a
{
	font-size:16px;
	font-weight:bold;
	color: #fff;
	text-decoration:none;
}
.fa-shopping-basket
{
	margin-right : 5px;
	
}
/*-----------side menu---------------*/	
.side-menu
  {
	height:83%;
	width:14%;
	font-size:14px;
	float: left;
	z-index:2;
	background-color:#ddd;
	/* display:none;  */
	position:fixed;
	
  }
  .side-menu ul
  {
	margin-left:10px;
	margin:20px ;
	
  }
   .side-menu ul li
   {
	   list-style-type:none;
	   font-weight:bold;
	   margin-top:10px;
	   cursor:pointer;
   }
   .side-menu ul li:hover
   {
	   color:dodgerblue;
	   
   }
   .side-menu ul li ul
   {
	   display:none;
	   z-index:10;
	   top:77px;
   }
   .side-menu ul li:hover ul
   {
	   display:block;
	   height:400px;
	   margin-left:14%;
	   padding: 0 100px 10px 10px;
	   position:fixed;
	   background-color:#ececec;
	   box-shadow: 1px 1px 4px 1px;
	   
   }
   .fa-angle-right{
	   margin-top:4px;
	   margin-right:8px;
	   float:right;
	   
   }
   #menu-btn,#close-btn
   {
	   color:dodgerblue;
	   font-size :30px;
	   margin:10px;
	   
	   
   
	   }
.carousel 
{
box-shadow :1px 1px 4px 1px rgba(0,0,0)
}	
	   
	   
	   /*-----------featured-categories-------*/
	   .featured-categories
	   {
         margin: 50px 0;
		 }
		 
		 .featured-categories img
		 {
			 
			cursor:pointer;
			 padding : 20px 0;
		 }	
 /*---------------on sale product------*/
.title-box
{
background:dodgerblue;
color:#fff;
width:180px;
padding:4px 10px;
height:40px;
margin-bottom:30px;
display:flex;
}
.title-box h2
{
	font-size:24px;
	
}
.title-box:after
{
	 content:''; 
	border-top: 40px solid dodgerblue;
	border-right :50px solid transparent;
	position:absolute;
	display:flex;
	margin-top: -4px;
	margin-left:170px;
}

/*-------------product bottom----------*/

.product-bottom .fa
{
	color:dodgerblue;
	font-size:10px;
}
.product-bottom h3
{
	font-size :20px;
	font-weight:bold;
}

.product-bottom h5
{
	font-size:15px;
	padding-bottom:10px;
}


/*----------new products--------*/
.new-products
{
margin:50px 0;
}	

 /*-------------website-features----*/

.website-features
{
	margin:60px 0;
}
.website-features img
{
	width:20%
}
.feature-text
{
	margin-top:10px;
	float:right;
	width:80%;
	padding-left:20px;
}
.feature-box
{
	padding-top:20px;
	
}

/*--------footer--------------*/
.footer
{
margin-top:50px;
background :#000;
color:#fff;
}
.footer h1
{
	font-size:15px;
	margin:25px 0;
}
.footer p
{
font-size:12px;
}

.copyright
{
margin-bottom:-80px;
text-align:center;
font-size:15px;
padding:bottom:20px;
}

.footer hr
{
margin-top:10px;
background-color:#ccc;
}
.footer-img img
{
width:150px;
}

.footer .row .fa
{
	padding-right:20px;
	font-size:15px;
}
	
 
@media only screen(max-width:980px)
	{
		.slider
		{
			width:100%;
			margin-left:0%;
			
		}
		


	}	  		 


	
	   
   
   

/*-----------Responsive------------*/
@media only screen and (max-width:980px)
	{
		.top-nav-bar
		{
			height:118px
			border-bottom:0;
		}
		.search-box
		{ 
		width:100%;
		}
		.menu-bar
		{
			width:100%;
		}
		.menu-bar ul
		{
			margin:10px 0;
			width:100%;
		}
		.menu-bar ul li
		{ 
		height:57px;
		}

	
